<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.now[:notes] %>
  <% flash.now[:notes].each do |note| %>
   <%= note %><br/>
  <% end %>
<% end %>

<% if logged_in? %>
  <%= button_to 'logout', session_url, method: :delete %>
<% end  %>

<br>

<%= yield %>

</body>
</html>
